{% extends 'blog/base.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form.as_p }} <!--ანუ ეს რეგისტრაციის ფორმს გამოიტანს როგორც პარაგრაფს კარგად რო გამოჩნდეს. მოდის views ში შექმნილი მეთოდიდან-->
            </fieldset>
            <div class="fomr-group">
                <button class="btn btn-outline-info" type="submit">Sign up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'login' %}"> Already have an Account ? </a>
            </small>
        </div>
    </div>
{% endblock content %}